{% extends 'base.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body %}
    {% if countOfProducts > 0 or sumOfAllProductPrices != 0 %}
        <h3>
            Bienvenue sur votre site, vous avez {{ countOfProducts }} produits, pour une valeur total
            de {{ sumOfAllProductPrices }} € !
        </h3>
    {% else %}
        <h3>
            Vous n'avez pas encore de produits
        </h3>
        <a href="/products">
            Ajoutez un produits
        </a>
    {% endif %}

    <li>
        <a href="/product/fake10">Créer 10 faux produits.</a>
    </li>

{% endblock %}