{% extends 'base.html.twig' %}

{% block title %}
    Produit créé
{% endblock %}

{% block body %}
    {{ successMessage }}

    <a href="/product/list">
        Retour a la liste:
    </a>
{% endblock %}
