<ul>
    <li>
        <a href="/">Accueil</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="/product/list">Produits</a>
    </li>
    <li>
        <a href="/product/new">Créer un produit</a>
    </li>
</ul>