<ul style="list-style: none; display: flex; justify-content: space-between; align-items: start">

    <li>
        <a href="/">Tableau de bord</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="/product/list">Produits</a>
    </li>
</ul>