<ul>
    <li>
        <a href="/">Accueil</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="/products">Produits</a>
    </li>
    <li>
        <a href="/products/new">Créer un produit</a>
    </li>
</ul>